@use "../abstracts/variables" as v;

.movie_card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 15rem;
  height: fit-content;
  min-width: 8rem;
  margin: 0.75rem;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    border: 2px solid v.$light-secondary;
  }

  &__poster {
    // border: 2px solid red;
    width: 100%;
    height: auto;
  }

  &__name {
    display: inherit;
    justify-content: flex-start;
    text-align: center;
    height: fit-content;
    padding-top: 0.75rem;
    font-weight: bold;
  }
}
